<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HuseyinEmreKaya</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HuseyinEmreKaya.styles.css" asp-append-version="true" />

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .dropdown-item:hover {
            background-color: red;
        }

        .navBarCustom:hover {
            background-color: green;
        }


    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid navBarCustom" id="navBar" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HuseyinEmreKaya</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">

                                <a class="nav-link text-dark" aria-expanded="false" asp-area="" asp-controller="Categories" asp-action="Index">Kategoriler</a>
                               @* <a class="nav-link text-dark" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Categories" asp-action="Index">Kategoriler</a>*@
                         
                                <ul class="dropdown-menu">
                                    
                                    <li><a class="dropdown-item" href="/categories/Bilgisayar">Bilgisayar</a></li>
                                    <li><a class="dropdown-item" href="#">Tablet</a></li>
                                    <li><a class="dropdown-item" href="#">Telefon</a></li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HuseyinEmreKaya - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        //var item = document.getElementById("navBar");
        //console.log(item.innerHTML);
        //item.addEventListener("mouseover", () => {

        //    item.style.backgroundColor = "green";

        //});
        
        //item.addEventListener("mouseout", () => {

        //    item.style.backgroundColor = "white";

        //});

        
    </script>
</body>
</html>
