
@{
}

<h1>Bilgisayarlar</h1>


<div class="deneme">
    <div class="card" style="width: 18rem;">
        <div class="imaj"><img src="/assets/bilgisayar.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="imaj"><img src="https://productimages.hepsiburada.net/s/221/550/110000200358386.jpg/format:webp" class="card-img-top" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="imaj"><img src="https://productimages.hepsiburada.net/s/303/600-800/110000295275754.jpg/format:webp" class="card-img-top" alt="..." style="height: 16rem;"></div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>