
@{
}
<h3>Ürünler</h3>


<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="imaj"><img src="/assets/e-ticaret.png" class="card-img-top image" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">E-Ticaret</h5>
            <p class="card-text">E ticarete ait bir görsel</p>
            <p><b>3000TL</b></p>
            <a href="#" class="btn btn-primary">Tıklayınız</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="imaj"> <img src="https://productimages.hepsiburada.net/s/221/550/110000200358386.jpg/format:webp" class="card-img-top image" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">Televizyon</h5>
            <p class="card-text">E ticarete ait bir görsel</p>
            <p><b>3000TL</b></p>
            <a href="/Products/Televizyon" class="btn btn-primary">Tıklayınız</a>

        </div>
    </div>



    <div class="card" style="width: 18rem;">
        <div class="imaj"><img src="/assets/tshirt.png" class="card-img-top image" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">T-Shirt</h5>
            <p class="card-text">E ticarete ait bir görsel</p>
            <p><b>3000TL</b></p>
            <a href="#" class="btn btn-primary">Tıklayınız</a>
        </div>
    </div>
</div>
